---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Home/Header.astro";
import Hero from "../components/Home/Hero.astro";
import About from "../components/Home/About.astro";
import Gallery from "../components/Home/Gallery.astro";
import Chef from "../components/Home/Chef.astro";
import Reservation from "../components/Home/Reservation.astro";
import CarritoLateral from "../components/Home/CarritoLateral.astro";
---

<Layout>
  <!-- Header -->
  <Header />
  <!-- End header -->
  <!-- Hero -->
  <Hero />
  <!-- End hero -->
  <!-- About us -->
  <About />
  <!-- End about us -->
  <!-- Gallery -->
  <Gallery />
  <!-- End gallery -->
  <!-- Chef section -->
  <Chef />
  <!--End Chef -->
  <!-- Reservation -->
  <Reservation />
  <!-- End reservation -->
  <!-- Carrito -->
  <CarritoLateral />
  <!-- End carrito -->

  <div class="h-400"></div>
</Layout>
