<section class="hero py-12 xl:pt-12 xl:pb-0 overflow-hidden mt-20">
  <div class="container mx-auto h-full">
    <!-- text & img -->
    <div class="flex flex-col xl:flex-row items-center justify-between h-full">
      <!-- text -->
      <div class="hero__text xl:w-[48%] text-center xl:text-left">
        <!-- badge -->
        <div
          class="flex items-center bg-white py-[10px] px-[20px] w-max gap-x-2 mb-[26px] rounded-full mx-auto xl:mx-0"
        >
          <!-- badge icon -->
          <i class="ri-restaurant-fill text-2xl text-accent"></i>
          <div
            class="uppercase text-base font-medium text-[#9ab4b7] tracking-[2.24px]"
          >
            Un sabor para compartir
          </div>
        </div>
        <!-- title -->
        <h1 class="h1 mb-6">El verdadero sabor de Italia en cada plato</h1>
        <!-- desc -->
        <p class="mb-[42px] md:max-w-xl mx-auto xl:mx-0">
          En La Nonna elaboramos pastas frescas todos los días con recetas auténticas y el cariño de la cocina casera. Disfruta de un ambiente cálido y familiar, ideal para compartir momentos únicos alrededor de la mesa.
        </p>
        <!-- btn -->
        <button class="btn btn-lg btn-accent mx-auto xl:mx-0">Haz tu reserva</button
        >
      </div>
      <!-- img -->
      <div class="hero__img hidden xl:flex max-w-[814px] self-end">
        <div class="w-200 h-200 rounded-full overflow-hidden mx-auto">
          <img src="/images/3.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
