<section id="reserva" class="container mx-auto p-20">
  <!-- Reservation -->
  <div class="w-full lg:w-[60%] mx-auto text-center mb-10">
    <h2 class="h2">Reserva tu mesa</h2>
    <p>
      Disfruta una experiencia premium y agradable - reserva tu mesa por
      adelantado
    </p>
  </div>

  <!-- Container form container -->
  <div
    class="w-full md:max-w-3xl mx-auto bg-white p-8 rounded-xl shadow-custom1"
  >
    <form action="" class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <!-- name -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Full name:</label
        >
        <input
          type="text"
          name=""
          id=""
          placeholder="Your Name"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>
      <!-- email -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Email:</label
        >
        <input
          type="email"
          name=""
          id=""
          placeholder="you@gmail.com"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>

      <!-- phone -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Phone:</label
        >
        <input
          type="tel"
          name=""
          id=""
          placeholder="+912345678"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>

      <!-- date -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Date:</label
        >
        <input
          type="date"
          name=""
          id=""
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>

      <!-- time -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Time:</label
        >
        <input
          type="time"
          name=""
          id=""
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>

      <!-- guest -->
      <div class="col-span-1">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Guest:</label
        >
        <input
          type="number"
          min="1"
          max="20"
          name=""
          id=""
          placeholder="2"
          required
          class="w-full border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        />
      </div>

      <!-- message -->
      <div class="col-span-1 md:col-span-2">
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-700 capitalize"
          >Additional Note:</label
        >
        <textarea
          name=""
          id=""
          placeholder="Any Special Request"
          class="w-full h-40 border border-gray-300 rounded-md px-4 py-3 focus:outline-none focus:ring-2 focus:ring-accent-secondary"
        ></textarea>
      </div>

      <!-- Button -->
      <div class="col-span-1 md:col-span-2 text-center">
        <button
          class="btn btn-outline btn-sm rounded-full px-6 py-2 tracking-wide uppercase border-2 border-accent text-secondary hover:bg-accent/10"
          >Reserva Ya</button
        >
      </div>
    </form>
  </div>
</section>
